.svg-Phone {
	background: url("svg/sprite.css-c01b89ca.svg") 87.55020080321285% 41.333333333333336% no-repeat;
}

.svg-Phone-dims {
	width: 20px;
	height: 20px;
}

.svg-Vector {
	background: url("svg/sprite.css-c01b89ca.svg") 0 100% no-repeat;
}

.svg-Vector-dims {
	width: 101px;
	height: 60px;
}

.svg-figure {
	background: url("svg/sprite.css-c01b89ca.svg") 0 50% no-repeat;
}

.svg-figure-dims {
	width: 110px;
	height: 125px;
}

.svg-inst {
	background: url("svg/sprite.css-c01b89ca.svg") 86.01694915254237% 28.30188679245283% no-repeat;
}

.svg-inst-dims {
	width: 33px;
	height: 33px;
}

.svg-inst-wthite {
	background: url("svg/sprite.css-c01b89ca.svg") 98.74476987447699% 27.77777777777778% no-repeat;
}

.svg-inst-wthite-dims {
	width: 30px;
	height: 29px;
}

.svg-logo {
	background: url("svg/sprite.css-c01b89ca.svg") 0 0 no-repeat;
}

.svg-logo-dims {
	width: 269px;
	height: 60px;
}

.svg-map_point {
	background: url("svg/sprite.css-c01b89ca.svg") 79.92125984251969% 42.27272727272727% no-repeat;
}

.svg-map_point-dims {
	width: 15px;
	height: 25px;
}

.svg-rectangle {
	background: url("svg/sprite.css-c01b89ca.svg") 62.5% 43.16546762589928% no-repeat;
}

.svg-rectangle-dims {
	width: 93px;
	height: 106px;
}

